<div class="sidebar">
    <div class="sidebar-head">
        <p><span id="t1">Self Check</span><br><span id="t2">セルフチェック</span></p>
    </div>

    <div class="sidebar-body">
        <a href="/guide/1-fries"><i class="icon-1"></i> French Fries</a>
        <a href="/guide/2-hash"><i class="icon-1"></i> Hashbrowns</a>
        <a href="/guide/3-lobby"><i class="icon-2"></i> Lot & Lobby</a>
        <a href="/guide/4-safety"><i class="icon-4"></i> Food Safety</a>
        <a href="/guide/5-bf-stock"><i class="icon-5"></i> Breakfast Stock</a>
        <a href="/guide/6-bf-meat"><i class="icon-6"></i> Breakfast Meat</a>
        <a href="/guide/7-grilled"><i class="icon-7"></i> Grilled Food</a>
        <a href="/guide/8-assembly-bf"><i class="icon-8"></i> Assembly (BF)</a>
        <a href="/guide/9-assembly-day"><i class="icon-9"></i> Assembly (Day)</a>
        <a href="/guide/10-fried"><i class="icon-10"></i> Fried Food</a>
        <a href="/guide/11-counter"><i class="icon-11"></i> Front Counter</a>
        <a href="/guide/12-drivethru"><i class="icon-12"></i> Drive-Thru</a>
    </div>
    
    <div class="sidebar-foot">
        <a href="/">🡐 Back</a>
    </div>
</div>